div {
    width: 400px
    height: 300px
}

img {
    width: 100%
}

h1 {
    font-family: Arial;
    font-size: 40px;
}

h2 {
    font-family: Arial;
    font-size: 30px;
}

a {
    font-family: Arial;
    font-size: 20px;
    text-decoration: none;
    color: blue;
}